# Compiler files
cache/
out/

# Core
lido-core/

# IDE
.cursor/
.code/
.vscode/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
