name: Common setup

on: workflow_call

runs:
  using: "composite"
  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1

    - name: Install Foundry dependencies
      run: forge install

    - name: Build contracts
      run: forge build
