name: Common setup

on: workflow_call

runs:
  using: "composite"
  outputs:
    cache-path: ${{ steps.cache.outputs.path }}
    cache-key: ${{ steps.cache.outputs.key }}
  env:
    JUST_TAG: 1.43.0
  steps:
    - name: Build cache params
      id: cache
      run: |
        echo "path=$CACHE_PATH" >> "$GITHUB_OUTPUT"
        echo "$KEY_INPUT" | md5sum | awk '{print $1}' | xargs -I% echo "key=cargobin-%-${RUNNER_OS}" >> "$GITHUB_OUTPUT"
      env:
        CACHE_PATH: |
          ~/.cargo/bin/
        KEY_INPUT: |
          just:${{env.JUST_TAG}}

    - uses: actions/cache@v4
      id: get-cache
      with:
        path: ${{ steps.cache.outputs.path }}
        key: ${{ steps.cache.outputs.key }}

    - name: Install just
      run: cargo install "just@$JUST_TAG"
      if: steps.get-cache.outputs.cache-hit != 'true'
