name: Bootstrap

on:
  workflow_call:
    inputs:
      just-tag:
        description: "just version tag"
        required: false
        type: string
        default: "1.43.1"
    outputs:
      cache-path:
        description: "Path to cache"
        value: ${{ jobs.bootstrap.outputs.cache-path }}
      cache-key:
        description: "Cache key"
        value: ${{ jobs.bootstrap.outputs.cache-key }}

jobs:
  bootstrap:
    runs-on: ubuntu-latest

    env:
      JUST_TAG: ${{ inputs.just-tag }}

    outputs:
      cache-path: ${{ steps.cache.outputs.path }}
      cache-key: ${{ steps.cache.outputs.key }}

    steps:
      - name: Build cache params
        id: cache
        run: |
          echo "path=$CACHE_PATH" >> "$GITHUB_OUTPUT"
          echo "$KEY_INPUT" | md5sum | awk '{print $1}' | xargs -I% echo "key=cargobin-%-${RUNNER_OS}" >> "$GITHUB_OUTPUT"
        env:
          CACHE_PATH: |
            ~/.cargo/bin/
          KEY_INPUT: |
            just:${{ env.JUST_TAG }}

      - uses: actions/cache@v4
        id: get-cache
        with:
          path: ${{ steps.cache.outputs.path }}
          key: ${{ steps.cache.outputs.key }}

      - name: Install just
        run: cargo install "just@$JUST_TAG"
        if: steps.get-cache.outputs.cache-hit != 'true'
